{% extends "index.html" %}

{% block header %}
<h1>{% block title %}Register{% endblock %}</h1>
{% endblock %}

{% block content %}
    <div class="jumbotron">
        <div class="container">
            <form method="post">
                {{ form.hidden_tag() }}
                {{ form.login.label }}{{ form.login() }}<br>
                {{ form.email.label }}{{ form.email() }}<br>
                {{ form.first_name.label }}{{ form.first_name() }}<br>
                {{ form.last_name.label }}{{ form.last_name() }}<br>
                {{ form.password.label }}{{ form.password }}<br>
                {{ form.pass_confirm.label }}{{ form.pass_confirm() }}<br>
                {{ form.submit() }}
            </form>
        </div>
    </div>
{% endblock %}
