{% extends 'index.html' %}
{% block title %}
    Sales Data
{% endblock %}
{% block content %}


<div class="d-flex" id="wrapper">

    <!-- Sidebar -->
    <div class="bg-light border-right col-sm-2" id="sidebar-wrapper">
        <h4 class="sidebar-heading">Filter data</h4>
        <div class="list-group list-group-flush">

            <form method="post" action="/data_view/">
                <div class="form-group row mb-2">
                    <label class="col-sm-4 col-form-label" for="order_num">Order number</label>
                    <div class="col-sm-8">
                        <input class="form-control" id="order_num" name="order_num" type="text"
                               value="{{ filters['ORDERNUMBER'] }}">
                    </div>
                </div>
                <div class="form-group">
                    <label for="order_status">Select order status</label>
                    <select class="form-control" id="order_status" name="order_status">
                         <option>{{ filters['STATUS'] }}</option>
                        {% for status in statuses %}
                        <option>{{status}}</option>
                        {% endfor %}
                    </select>
                </div>


                <div class="form-group row mb-2">
                    <label class="col-sm-4 col-form-label" for="min_order_date">Min order date</label>
                    <div class="col-sm-8">
                        <input class="form-control" id="min_order_date" name="min_order_date" type="text"
                               value="{{ filters['ORDERDATE_min']}}">
                    </div>
                </div>
                <div class="form-group row mb-2">
                    <label class="col-sm-4 col-form-label" for="max_order_date">Max order date</label>
                    <div class="col-sm-8">
                        <input class="form-control" id="max_order_date" name="max_order_date" type="text"
                               value="{{ filters['ORDERDATE_max']}}">
                    </div>
                </div>
                <div class="form-group row mb-2">
                    <label class="col-sm-4 col-form-label" for="min_price">Min price</label>
                    <div class="col-sm-8">
                        <input class="form-control" id="min_price" name="min_price" type="text"
                               value="{{ filters['PRICEEACH_min']}}">
                    </div>
                </div>
                <div class="form-group row mb-2">
                    <label class="col-sm-4 col-form-label" for="max_price">Max price</label>
                    <div class="col-sm-8">
                        <input class="form-control" id="max_price" name="max_price" type="text"
                               value="{{ filters['PRICEEACH_max']}}">
                    </div>
                </div>


                <div class="form-group row mb-3">
                    <button class="btn btn-primary" type="submit" onclick="e.preventDefault()">Sign in</button>
                </div>
            </form>

        </div>
    </div>

    <div id="page-content-wrapper">
        <h3>Sales Data</h3>
        <div class="row mx-1">
            <div class="table-responsive">
                <table class="table table-sm table-bordered table-hover" style="font-size: 0.8rem">
                    <thead class="thead-light" style="font-weight: 600; background-color: #d3d3d34d">
                    <tr>
                        {% for col in columns %}
                        <td>{{ col }}</td>
                        {% endfor %}
                    </tr>
                    </thead>
                    <tbody>
                    {% for row in data %}
                    <tr>
                        {% for cell in row %}
                        <td>{{ cell }}</td>
                        {% endfor %}
                    </tr>
                    {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
        <div class="row mx-1">
            {% if next == 1 %}
            <a href="/data_view/{{ prev }}" class="btn disabled btn-outline-secondary btn-sm mr-1">&laquo; Prev</a>
            {% else %}
            <a href="/data_view/{{ prev }}" class="btn btn-outline-secondary btn-sm mr-1">&laquo; Prev</a>
            {% endif %}
            <a href="/data_view/{{ next }}" class="btn btn-outline-secondary btn-sm mr-1">Next &raquo;</a>
            <div class="alert alert-secondary mb-0 p-1">rows {{ page_from }} - {{ page_to }}</div>
        </div>

    </div>

</div>


<!--

-->

{% endblock %}
