{% extends "index.html" %}
{% block content %}
    <div class="jumbotron">
        <div class="container">
            <h3>Users List</h3>
            <hr>
            <ul class="list-group">
                {% for user in users %}
                        <li class="list-group-item">
                        <div class="row">
                            <div class="col-md-2">
                                {{ user.first_name }} {{ user.last_name }}
                            </div>
                            <div class="col-md-8">
                                {{ user.email }}
                            </div>
                            <div class="col-md-2">
                                <a class="btn btn-warning btn-sm" href="{{ url_for('update_user', login=user.login) }}"
                                   role="button">Update</a>
                                <a class="btn btn-danger btn-sm" href="{{ url_for('delete_user', login=user.login) }}"
                                   role="button">Delete</a>
                            </div>
                        </div>
                        </li>
                {% endfor %}
            </ul>
        </div>
    </div>

{% endblock %}