{% extends 'bootstrap/base.html' %}

{% block header %}
    <h1>{% block title %}Main{% endblock %}</h1>
{% endblock %}

{% block body %}
    {% block navbar %}
        {% include 'nav_menu.html' %}
    {% endblock %}

    <div class="container">
      {% block content %}
          <h1 class="display-3">Welcome to Report System</h1>

        <ul class="nav flex-column">
          <li class="nav-item">
            <a class="nav-link" href="{{ url_for('data_export.send_xlsx') }}">Download File</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="{{ url_for('data_export.upload_file') }}">Upload File</a>
          </li>
        </ul>

      {% endblock %}
    </div>

    {% with messages = get_flashed_messages() %}
      {% if messages %}
        <div class="alert alert-primary" role="alert">
            <ul class=flashes>
            {% for message in messages %}
                <li>{{ message }}</li>
            {% endfor %}
            </ul>
        </div>
      {% endif %}
    {% endwith %}
{% endblock %}