{% extends "index.html" %}
{% block content %}

<div class="table-responsive container">
        <table class="table table-striped table-sm">
          <thead>
            <tr>
              <th>ID</th>
              <th>Login</th>
              <th>First Name</th>
              <th>Last name</th>
              <th>E-mail</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td>1</td>
              <td>pryshchepa</td>
              <td>Stanislav</td>
              <td>Pryshchepa</td>
              <td>stasprischepa@gmail.com</td>
            </tr>

          </tbody>
        </table>
      </div>

{% endblock %}