{% extends "index.html" %}
{% block content %}
    <form method="post">
      <div class="row mb-3">
        <label for="inputUser3" class="col-sm-2 col-form-label">Login</label>
        <div class="col-sm-3">
          <input type="text" class="form-control" id="inputUser3" user="user" value="{{user}}">
        </div>
      </div>
      <div class="row mb-3">
        <label for="inputPassword3" class="col-sm-2 col-form-label">Password</label>
        <div class="col-sm-3">
          <input type="password" class="form-control" id="inputPassword3">
        </div>
      </div>
      <button type="submit" class="btn btn-primary">Sign in</button>
    </form>
{% endblock %}
