<header class="container d-flex text-center flex-column flex-md-row align-items-center p-3 px-md-4 mb-3 bg-white border-bottom shadow-sm">
  <img class="d-block mx-auto mb-4" src="/static/img/BI_logo.png" alt="" width="72" height="57">
  <p class="h5 my-0 me-md-auto fw-normal">BI Report System</p>
  <nav class="my-2 my-md-0 me-md-3">
    <a class="p-2 text-dark" href="/">Home</a>
    <a class="p-2 text-dark" href="/login">Login</a>
    <a class="p-2 text-dark" href="/register">Register</a>
    <a class="p-2 text-dark" href="/list_users">List Users</a>
  </nav>
</header>
