{% extends "index.html" %}
{% block content %}
<div class="container">
    <h1>Update user: {{ firstname }} {{ lastname }}</h1>
    {% if message%}
    <div class="alert alert-danger" role="alert">
        {{message}}
    </div>
    {% endif %}

    <form action="" method="post">
        <div class="form-group col-md-12">
            <label for="firstname" class="form-group col-md-6">First name: {{ firstname }}</label>
            <input type="text" class="form-control" id="firstname" name="firstname" value="{{ firstname }}">
        </div>
        <div class="form-group col-md-12">
            <label for="lastname" class="form-group col-md-6">Last name: {{ lastname }}</label>
            <input type="text" class="form-control" id="lastname" name="lastname" value="{{ lastname }}">
        </div>
        <div class="form-group col-md-12">
            <label for="login" class="form-group col-md-6">Login: {{ login }}</label>
            <input type="text" class="form-control" id="login" name="login" value="{{ login }}">
        </div>
        <div class="form-group col-md-12">
            <label for="email" class="form-group col-md-6">Email: {{ email }}</label>
            <input type="text" class="form-control" id="email" name="email" value="{{ email }}">
        </div>
        <button type="submit" class="btn btn-primary">Update</button>
    </form>
</div>


{% endblock %}