{% extends 'bootstrap/base.html' %}

{% block header %}
    <h1>{% block title %}Home Page{% endblock %}</h1>
{% endblock %}

{% block body %}
    {% block navbar %}
        {% include 'nav_menu.html' %}
    {% endblock %}
    <div class="container-fluid p-0">
      {% block content %}
          <div class="jumbotron">
              <div class="container">
                <h1 class="display-3">Welcome to Report System</h1>
              </div>
          </div>
      {% endblock %}
    </div>
    {% with messages = get_flashed_messages() %}
      {% if messages %}
        <div class="alert alert-primary" role="alert">
            <ul class=flashes>
            {% for message in messages %}
                <li>{{ message }}</li>
            {% endfor %}
            </ul>
        </div>
      {% endif %}
    {% endwith %}
{% endblock %}